@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  display: swap;
  src: url("../fonts/open-sans-v27-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v27-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  display: swap;
  src: url("../fonts/open-sans-v27-latin-700.woff2") format("woff2"), url("../fonts/open-sans-v27-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Open Sans Condensed";
  src: url("../fonts/OpenSansCondensed-Light.woff2") format("woff2"), url("../fonts/OpenSansCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", "Aria;", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #333;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

.projects__container {
  max-width: 1800px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}

.projects {
  margin-top: 150px;
}

.projects__container {
  overflow: hidden;
}

.projects__title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 100px;
}

.projects__list {
  display: flex;
  max-width: 1770px;
  height: 550px;
  margin-left: auto;
  overflow: auto;
}

.projects__item {
  flex-shrink: 0;
  width: 442px;
  height: 550px;
  position: relative !important;
}
.projects__item:hover {
  transform: scaleX(1.02);
  transition: transform 0.4s;
  position: absolute;
  z-index: 2;
}
.projects__item .projects__item-img {
  width: 442px;
  height: 550px;
}
.projects__item .projects__item-title {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left: 40px;
}
.projects__item .projects__item-time {
  display: inline-block;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24.51px;
  letter-spacing: 0.1em;
  transform: rotate(-90deg);
  position: absolute;
  top: 441px;
  left: -10px;
  color: #fff;
}
.projects__item .projects__item-time--one {
  display: inline-block;
  position: absolute;
  top: 422px;
  left: -33px;
}

.projects__item--second {
  position: relative;
}
.projects__item--second .projects__search {
  display: inline-block;
  width: 101px;
  height: 101px;
  padding: 30px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #D1A954;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 40%;
  content: "";
}
.projects__item--second .projects__search:hover {
  cursor: pointer;
  box-shadow: 3px 31px 59px 21px rgba(1, 0, 0, 0.1);
  transform: scale(1.05);
}

.contact__container {
  max-width: 1110px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 80px;
}

.contact__title {
  font-family: "Open Sans Condensed";
  margin: 0 auto;
  width: 381px;
  display: block;
  font-size: 48px;
  margin-bottom: 100px;
}
.contact__title-span {
  color: #d1a954;
}

.contact__div {
  display: flex;
}

.contact__item {
  margin-bottom: 25px;
}
.contact__item:last-child {
  margin-bottom: 0;
}

.contact__link {
  color: white;
  font-size: 16px;
}

.contact__form {
  margin-left: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 41px 41px 1fr;
  grid-template-areas: "name company message" "tel email message" "description description button";
  gap: 30px;
}

.contact__label {
  display: block;
}

.contact__input {
  background-color: #444444;
  padding: 13px 17px;
  width: 180px;
  border: 1px solid #616161;
  font-size: 12px;
}
.contact__input--name {
  grid-area: name;
}
.contact__input--company {
  grid-area: company;
}
.contact__input--message {
  width: 310px;
  height: 112px;
  grid-area: message;
}
.contact__input--tel {
  grid-area: tel;
}
.contact__input--email {
  grid-area: email;
}

.contact__description {
  font-size: 12px;
  color: #989898;
  width: 390px;
  grid-area: description;
}

.contact__form-button {
  padding: 19px 47px;
  background-color: #d1a954;
  color: white;
  border: none;
  grid-area: button;
}/*# sourceMappingURL=main.css.map */