

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    display: swap;
    src: url('../fonts/open-sans-v27-latin-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v27-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    display: swap;
    src: url('../fonts/open-sans-v27-latin-700.woff2') format('woff2'),
        url('../fonts/open-sans-v27-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('../fonts/OpenSansCondensed-Light.woff2') format('woff2'),
        url('../fonts/OpenSansCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}