.partners {
    padding-top: 150px;
    padding-bottom: 120px;
    overflow: hidden;
}

.partners__title {
    margin-left: 338px;
    width: fit-content;
    height: 65px;
    font-family: 'Open sans','Aria,'sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    color: #fff;
}

.partners__list {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-right: 78px;
    margin-top: 80px;

    &:nth-child(4n) {
        margin: 0px;
        margin-top: 80px;
    }
}

.partners__span {
    color: rgba(209, 169, 84, 1);
}