.projects {
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
}

::-webkit-scrollbar {
    display: none;
}

.projects__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 100px;
}

.projects__list {
    @include reset-list;
    display: flex;
    width: 100%;
    margin-left: auto;
    overflow-x: auto;
    height: 600px;
    align-items: center;
}

.projects__item {
    flex-shrink: 0;
    width: 442px;
    height: 550px;
    position: relative;
}

 .projects__item:hover {
        transform: scale(1.06);
        transition: transform 0.4s;
        cursor: pointer;
        position: inherit;
        z-index: 2;
    }

    .projects__item-img {
        width: 442px;
        height: 550px;
    }

     .projects__item-title {
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        color: #fff;
        font-size: 24px;
        line-height: 33px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        position: absolute;
        top: 40px;
        left: 40px;
    }

     .projects__item-time {
        display: inline-block;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 24.51px;
        letter-spacing: 0.1em;
        transform: rotate(-90deg);
        position: absolute;
        top: 441px;
        left: -10px;
        color: #fff;
    }

     .projects__item-time--one {
        display: inline-block;
        position: absolute;
        top: 422px;
        left: -33px;
    }

.projects__item--second {
    position: relative;

    & .projects__search {
        display: inline-block;
        width: 101px;
        height: 101px;
        padding: 30px;
        background-image: url(../img/search.svg);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #D1A954;
        border: none;
        border-radius: 50%;
        position: absolute;
        top: 40%;
        left: 40%;
        content: '';

        &:hover {
            cursor: pointer;
            box-shadow: 3px 31px 59px 21px rgba(1, 0, 0, 0.1);
            transform: scale(1.02);
        }
    }
}


.projects__inner {
    color: $accent-color;
}